html, body {
  background-color: #f4f4f4;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Header {
  text-align: center;
}

.Main {
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  padding: 30px;
  box-shadow: 5px 10px 10px #eee;
}

.MainNavBar__selectedDate,
.MainNavBar__prevBtn,
.MainNavBar__nextBtn {
  float: left;
}

.MainNavBar__selectedDate {
  width: 130px;
  text-align: left;
}

.clearFloat {
  clear: both;
}

.MainNavBar__prevBtn,
.MainNavBar__nextBtn {
  margin-left: 10px;
  margin-right: 10px;
}

.DaysContainer {
  display: flex;
  flex-flow: wrap;
}

.DayTile {
  flex: 1 1 200px;
  padding: 10px;
  color: white;
  height: 100px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
